[2022-05-11 17:32] cyrusboadway opened #6 "Crash with particular title input"
### What happened?

Providing specific content related to the title crashes the application: "Application error: a client-side exception has occurred (see the browser console for more information)."

[code]

### To reproduce

The following content crashes the demo app:

[code]

(i.e. deleting `title: What is Markdoc?` and replacing it with `#`)

### Version

Unsure, but whichever the demo page is

[2022-05-11 17:51] mfix-stripe commented on #6
Thanks @cyrusboadway. Fixed here: https://github.com/markdoc/docs/commit/e1fc963b0150b41f82ec78920301f42b5d09f79b

[2022-05-11 17:51] #6 closed

[2022-05-11 19:27] cyrusboadway commented on #6
👍

[2022-05-11 19:36] jamesmandrews opened #9 "Fails to compile in Angular 12"
### What happened?

After installing Markdoc in a new angular 12 app, I get the following error.

[code]

### To reproduce

1) Install Angular 12.
2) Create new project `ng new markdoc-test`
3) Install markdoc `npm install @markdoc/markdoc`
4) Install dependencies `npm i --save-dev @types/react` and `npm i --save-dev @types/markdown-it`
5) Run Angular `ng serve --ssl`

The server will start and fa

[2022-05-11 19:37] marshall007 opened #10 "Support for inline and block HTML content"
The commonMark spec describes how [HTML blocks](https://spec.commonmark.org/0.30/#html-blocks) and [Raw HTML](https://spec.commonmark.org/0.30/#raw-html) should be treated:

Example:

[code]

Are there plans to support this aspect of the spec?

If so, it's worth noting that other markdown implementations I've seen tend to follow the spec literally and do not parse HTML content in any way. In other

[2022-05-11 20:05] brianleroux opened #11 "Doesn't work w JS disabled"
### What happened?

Expected navigation to work but realized it requires JavaScript to be enabled. There are a number of situations where this can happen. https://technology.blog.gov.uk/2016/09/19/why-we-use-progressive-enhancement-to-build-gov-uk/

### To reproduce

Navigate to site w JS disabled

### Version

_No response_

### Additional context

_No response_

[2022-05-11 20:40] mfix-stripe commented on #9
Thanks @jamesmandrews, looking into this. `Function` is exported from `dist/src/types.d.ts`, so I think this is a TypeScript "bug". Will dig in deeper here.

[2022-05-11 22:00] #9 closed

[2022-05-11 22:02] jasonbosco opened #13 "Search bar support"
First off, thank you for open sourcing this! I'm a big fan and a long-time user of Stripe, mainly because of the extensive developer-friendly docs.

I noticed that the docs don't have a built-in search bar. I work on [Typesense](https://typesense.org/) which is an open source alternative to Algolia / Elasticsearch and I'd love to build a search-bar + scraper integration, similar to the one we have

[2022-05-11 22:05] mfix-stripe commented on #11
Hey @brianleroux, thanks for posting. Unfortunately, our site is using a lot of systems that rely on JavaScript to run. Hopefully Next.js supports better no-script support for routing in the future, but until then we are stuck with what we have.
Appreciate the helpful idea, though.

[2022-05-11 22:05] #11 closed

[2022-05-11 22:45] mfix-stripe commented on #13
@jasonbosco glad to hear it! We plan to add docs search in the near future, and I will consider this as an option.

Going to close this issue, but feel free to weigh in on this discussion in the meantime: https://github.com/markdoc/markdoc/discussions/4

[2022-05-11 22:45] #13 closed

[2022-05-11 22:59] rayfoss opened #16 "Markdoc docs broken on Firefox for Android"
### What happened?

I visited the docs website and could only see about 5 pages. Turns out the navigation bar has broken breakpoint or broken Firefox support... There is no way to make it show without going into Desktop mode.

I found it quite bizarre that a documentation framework had such bare bones documentation... Until I received a link to the FAQ from @mfix-stripe and realized, 99% of the do

[2022-05-11 23:29] mfix-stripe commented on #16
@rayfoss this is actually the correct nav. If you open the site on desktop, you can see that there are two navs: a top on and a left one. We only shop the top nav on mobile. Thanks for writing in!

[2022-05-11 23:29] #16 closed

[2022-05-11 23:40] rayfoss commented on #16
That's really poor design... You mean to tell me having the docs on split screen on a laptop will make it impossible to navigate, by design? Why show the navigation bar up top when the menu button is pressed?

Are you friends with the GitHub guy who decided that mobile users should not have a clone button because Termux and SSH don't exist? /s (I love programing on my phone, the tablet is too brig

[2022-05-12 00:12] rayfoss commented on #13
Here is a Screenshot of a good search UI combined into the navigation menu from a really small app no one has ever heard of.
![Screenshot_20220512-091020](https://user-images.githubusercontent.com/876076/167967128-52b489a4-b2c4-48ba-b843-fe1f7e753bf5.png)

[2022-05-12 13:45] mingodad opened #20 "Grammar railroad diagram"
### What happened?

Only an enhancement for documenting/understand the grammar with this tool https://www.bottlecaps.de/convert/ we can convert the `tags.pegjs` grammar to a format understood by https://www.bottlecaps.de/rr/ui and have a nice railroad diagram (https://en.wikipedia.org/wiki/Syntax_diagram).

Copy https://github.com/markdoc/markdoc/blob/main/src/grammar/tag.pegjs in to https://www.b

[2022-05-12 20:24] rpaul-stripe commented on #10
The `markdown-it` library has an option (`html: true`) that can be enabled to get it to identify HTML content in Markdown according to the rules in the CommonMark specification. When this option is passed into the Markdoc tokenizer, a document with HTML content will fail to parse because Markdoc doesn't define a corresponding HTML node type.

It's fairly trivial to add an HTML node type to `schema

[2022-05-12 20:37] rpaul-stripe commented on #10
Experimental implementation here: https://github.com/markdoc/markdoc/compare/html-support

[2022-05-13 17:20] usulpt opened #24 "can't compile next.js starter"
### What happened?

just cloned the repo, ran `npm install` followed by `npm run dev` and got this error after loading `localhost:3000`

### To reproduce

npm install
npm run dev

### Version

latest

### Additional context

_No response_

[2022-05-13 17:25] mfix-stripe commented on #24
@usulpt which node version are you using? You probably just need to bump your Node version to 13 or greater. Current Node LTS is version 16 (:

[2022-05-13 17:30] jamesmandrews commented on #9
Just confirming this did indeed resolve the bug, thanks for your prompt fix.

[2022-05-13 17:35] usulpt commented on #24
hmm could be, running node 12, gonna try it, thanks

[2022-05-14 05:20] zhoubin-me opened #26 "Feature Request"
Support for mathjax?

[2022-05-14 13:24] nvanexan opened #28 "Parsing of link node doesn't return title attribute"
### What happened?

I was trying to create a custom transform on "link" nodes to support adding additional custom attributes and in doing so, I noticed that the title attribute declared in markdown was never returned when calling Markdoc.parse.

In the Commonmark spec, [link-titles](https://spec.commonmark.org/0.30/#link-title) can be declared with the following syntax:

`[link](/uri "title")`

Wh

[2022-05-16 04:37] jlarmstrongiv opened #33 "Translations and i18n"
What’s the best way to handle translations, internationalization i18n, etc. with markdoc?

[2022-05-16 08:11] friedjoff opened #35 "Support variables in Next.js pageProps"
Would it make sense to support `variables` in Next.js `pageProps`? This would make global variables defined in `/markdoc/variables.js` available to `/pages/_app.js`. Happy to try creating a PR if this sounds sensible.

[2022-05-16 17:26] mfix-stripe commented on #26
@zhoubin-me similar to our [answer here](https://github.com/markdoc/markdoc/discussions/15), you can implement your own custom Mathjax [tag](https://markdoc.io/docs/tags) and support it in Markdoc apps 🙂

[2022-05-16 17:26] #26 closed

[2022-05-16 17:51] #24 closed

[2022-05-17 13:44] #28 closed

[2022-05-18 21:13] altosaar opened #41 "Confusing error on multiple markdoc sites"
### What happened?

@benguz and I need set up a markdoc site for a nonprofit.

We are getting this cryptic error, and the error message text cuts off strangely:

C:UsersenjaOneDriveDocumentsGitHub
eactjs.orgeta
ode_modules@markdoc
ext.jssrc
untime.js is not handled by plugins (Unhandled scheme).
Webpack supports "data:" and "file:" URIs by default.
You may need an additional plugin to handle "c:

[2022-05-18 21:19] mfix-stripe commented on #41
Hey @altosaar, could you share a reproduction of this issue? 🙂 Which quick start docs are you referring to?

[2022-05-18 21:41] benguz commented on #41
"Using markdoc with next JS" <https://markdoc.io/docs/nextjs> following
steps there and in this starter repo
<https://github.com/markdoc/next.js-starter> (and getting a similar error
with the boilerplate and adding it to an existing next JS site. What would
you us to share as a reproduction?

On Wed, May 18, 2022 at 5:19 PM Mike Fix ***@***.***> wrote:

[2022-05-18 21:44] benguz commented on #41
Here is a screenshot of my localhost when I run the next JS starter
repo. [image:
image.png]

On Wed, May 18, 2022 at 5:41 PM Benjamin Guzovsky ***@***.***>
wrote:

[2022-05-18 22:04] mfix-stripe commented on #41
@benguz I'm unable to see the image you shared above 🙂

[2022-05-18 22:07] benguz commented on #41
<img width="744" alt="image" src="https://user-images.githubusercontent.com/84636906/169163736-f0b0376d-57c5-478e-bfec-2fb2615ceb3c.png">
Sorry about that, here it is @mfix-stripe

[2022-05-18 22:11] mfix-stripe commented on #41
@benguz I just tried a fresh clone and install of https://github.com/markdoc/next.js-starter, and it is working for me. What operating system are you on? Windows?

Also have you made any local changes?

[2022-05-18 22:42] benguz commented on #41
No local changes and I'm on Windows.

[2022-05-19 02:47] colinjnash commented on #41
Having the same issue with the quickstart docs.

**OS:** Windows 11 Home 21H2

![image](https://user-images.githubusercontent.com/24720932/169193299-696893c6-e177-47aa-9246-796cc50e0da3.png)

Also getting a dependency error from the CLI:

![image](https://user-images.githubusercontent.com/24720932/169193477-18ed5c2f-2e08-4841-85a4-91eb27102140.png)

Things seem to point to some sort of issue with

[2022-05-19 08:54] JitPackJoyride opened #44 "Typescript for Validation of Attributes"
I am reading the documentation and see that a large part of the validation logic for attributes is to create a Javascript object that basically has the same information that Typescript would have.

I am curious if there is a goal to create a Typescript plugin or better built-in support for Typescript? As you can imagine, writing all that code is tedious, and Typescript is a very powerful and widel

[2022-05-19 17:39] mfix-stripe commented on #44
@JitPackJoyride the custom attribute types actually are quite different from TypeScript ones. They allow users to add a custom message for validation, which can be surfaced during linting or CI, for example. Custom attribute types also allow for custom transform functions, which let you mutate/transform the attribute value itself at runtime.

We do have plans to create a VSCode extension that can

[2022-05-19 18:12] mfix-stripe commented on #41
@benguz @colinjnash which Node version are you using?

[2022-05-19 18:23] mfix-stripe commented on #41
Ahh I see, I think this is an issue with Webpack not being able to understand the absolute path on windows, since it starts with `C:`.

This is probably something we have to fix in https://github.com/markdoc/next.js. Will take a look, but if you have suggested solutions @benguz @colinjnash, please share them 🙂

[2022-05-19 20:23] cnashunity commented on #41
@mfix-stripe I see the incorporated fix with `this.resolve`. Thanks for the quick catch and I'll try and validate ASAP.

[2022-05-19 20:55] mfix-stripe commented on #41
@cnashunity @benguz @colinjnash just published `@markdoc/next.js@0.1.4-0`. If you install that version instead, does that fix the issues you were seeing?

[2022-05-19 21:49] colinjnash commented on #41
Hi @mfix-stripe . Same error again, except the trace dependency is now gone.

![image](https://user-images.githubusercontent.com/24720932/169408176-84b3530b-73fa-4c82-8e81-8ae622c8ab56.png)

Verified package installation outside of Windows with Vercel (docs/concept.md being the validation file):

![image](https://user-images.githubusercontent.com/24720932/169409697-e76c6192-caec-4129-b2d7-f024a621

[2022-05-19 21:53] mfix-stripe commented on #41
@colinjnash that error looks different to me… slightly improved. There is just some issue with Webpack not finding the path using an absolute path on Windows, because it starts with `C:`. Have you ran into this before?

What happens when you run the tests for https://github.com/markdoc/next.js?

And yes, it makes sense that it works on Vercel since they don't use Windows environments

[2022-05-19 22:01] mfix-stripe commented on #41
I recreated some other Windows errors here (https://github.com/markdoc/next.js/runs/6515621039?check_suite_focus=true) so I should be able to make progress on this from my Mac.

[2022-05-19 22:59] colinjnash commented on #41
Hi @mfix-stripe,

Haven't seen any URI path errors since early webpack days. I did find this recently on URI-JS: https://githubmemory.com/repo/react-cosmos/react-cosmos/issues/1332

Unfortunately I'm a little rusty on node and new to next.js, so this might be out of my scope. Wanted to put it there in case it gave more context.

[2022-05-20 00:04] mfix-stripe commented on #41
@colinjnash does installing [`0.1.4-1`](https://github.com/markdoc/next.js/releases/tag/0.1.4-1) update the errors for you?

[2022-05-20 03:13] colinjnash commented on #41
@mfix-stripe confirmed as working. Thanks so much for the fast fix!

[2022-05-20 17:05] mfix-stripe commented on #41
@colinjnash glad to hear it! 🙌

[2022-05-20 17:05] #41 closed

[2022-05-20 20:44] #44 closed

[2022-05-23 10:03] friedjoff commented on #35
Yes, that works for our use case!

Thanks a lot for this project, it's a joy to work with!

[2022-05-23 10:03] #35 closed

[2022-05-28 06:48] matsudai opened #56 "(question) Can customized React components are used instead of default components?"
Currently, components that start with a lowercase letter are not customizable.

Is there a good way to customize "h2", for example?

[code]

Thanks.

---

I have tried these solutions.

**(1) Map components to components that start with UPPERCASE letter.**

[code]

**(2) Change the priority of using default components, customized components and the function.**

(Update to use the default component

[2022-05-31 14:06] davidyeiser opened #62 "Typo in docs site code example"
### What happened?

In the [Parse section](https://markdoc.io/docs/render#parse) of the **Phases of rendering** page, the code example for walking through the AST nodes looks like this:

[code]

I believe `.walk()` should be called on `ast` instead, like so:

[code]

### To reproduce

See code example above

### Version

_No response_

### Additional context

_No response_

[2022-05-31 14:32] arranf opened #63 "Replacing Existing Node with Next.js Fails to Pass Attributes"
### What happened?

Following the docs on [nodes](https://markdoc.io/docs/nodes) and [next js nodes](https://markdoc.io/docs/nextjs#nodes) is confusing.

Goal: replace the default heading node as the nodes doc demonstrates.

Following the examples in the nodes seems to lead to _either_ the render function being called with no props other than children, or only the transform step being called and n

[2022-05-31 16:27] mfix-stripe commented on #63
@arranf the level property should not be being swallowed… it is working for us here: https://github.com/markdoc/docs/blob/main/markdoc/nodes/heading.markdoc.js#L25

Can you share a reproduction of this?

[2022-05-31 16:32] mfix-stripe commented on #62
Ah yes, this was fixed here @davidyeiser https://github.com/markdoc/docs/commit/1d1d2d5e839ad59bc03a2b379b01f58f6258ce64

[2022-05-31 16:33] #62 closed

[2022-05-31 16:39] arranf commented on #63
To confirm my understanding can you please answer the following?

* Assuming I'm using nextjs, for every node will I need a `transform` function?
* If that's true, conceptually does the `render` property just exist to "register" a mapping between the string `"Header"` and the `Header` component?

I think my source of confusion was twofold:
* The nextjs docs describe nodes being just like tags - wh

[2022-05-31 16:55] arranf commented on #63
Repro is here: https://github.com/arranf/markdoc-nextjs-repro

[2022-05-31 18:53] mfix-stripe commented on #63
@arranf you just have a typo, `attibutes` -> `attributes` 🙂

[2022-05-31 19:41] #63 closed

[2022-06-01 19:23] shanamatthews opened #68 "Deploy with Next.js on Vercel & Netlify not working"
### What happened?

Trying to deploy Markdoc with next.js from the [docs page](https://markdoc.io/docs/nextjs) to Vercel or Netlify from the buttons doesn't work. Both fail with this error:

Failed to compile.
--
11:47:37.110 |  
11:47:37.110 | ./components/CodeBlock.tsx:10:22
11:47:37.110 | Type error: Cannot find name 'Prism'.
11:47:37.110 |  
11:47:37.111 | 8 \|
11:47:37.111 | 9 \|   React.useE

[2022-06-01 19:59] #68 closed, assigned to nobody

[2022-06-01 20:40] matildepark opened #70 "Footnote support?"
Currently there's no way to inject `markdown-it` plugins down to the tokenizer, so we can't just pass `markdown-it-footnotes` here, but I can't see any facility for supporting Footnote syntax (which are common in GFM). Any current workarounds?

[2022-06-01 22:18] matildepark opened #71 "Tabs example possibly incorrect"
After implementing the Tabs code, I keep hitting `children.map is not a function` on the React renderer output in a Next.js client-side deployment.

<img width="990" alt="image" src="https://user-images.githubusercontent.com/20846414/171510798-03d3bd75-a5e4-4167-95f1-6c5cfcaab39e.png">

Code is basically verbatim off the site, and removing the tags makes the page work again; it's just when I use t

[2022-06-01 23:35] matildepark commented on #71
Ah, there we go. Thanks a lot.

[2022-06-01 23:35] mfix-stripe commented on #71
Closed with ffcc159c94cf44ab2348bd18af4c46f3f7f6e0cb

[2022-06-01 23:35] #71 closed

[2022-06-02 01:28] matildepark opened #72 "Strings starting with "{%" inside code blocks are parsed as unclosed Markdoc, clogging builds"
### What happened?

I've been migrating our website to Markdoc. We use a bit of an esoteric programming language that does use `{%term}` format at times. When running `next build`, on the build would halt on one of 5 pages and my node would gradually use 12GB of RAM until my system froze.

Deleting files and escaping the Markdown render I've nailed it down to pages that have strings that start wit

[2022-06-02 07:13] nrtkrishna opened #73 "Does it support react 17?"

[2022-06-02 13:57] igbanam opened #74 "Footnotes?"
As a writer, I'd like to be able to use footnotes to add supporting context to the content I'm writing. Can we have footnote support in Markdoc?

Usually, when adding supporting context to a sentence, one would use the em-dash "—" to denote a momentary break in thought, a somewhat tangential drift. When this _drift-break_ exceeds some arbitrary attention quota — would be nice to get empirical data

[2022-06-02 15:09] ahupp opened #75 "markdoc-starter's yarn.lock refers to internal stripe URLs"
### What happened?

[code]

Running `yarn upgrade` to re-write the yarn.lock fixes it.

### To reproduce

See above

### Version

HEAD from git

### Additional context

_No response_

[2022-06-02 16:04] mfix-stripe commented on #75
Thanks @ahupp. Fixed.

[2022-06-02 16:04] #75 closed

[2022-06-02 16:07] mfix-stripe commented on #74
@igbanam This is a duplicate issue of https://github.com/markdoc/markdoc/issues/70.

I will reopen that issue for further discussion—could you please share these ideas over there? 🙂

[2022-06-02 16:07] #74 closed

[2022-06-02 16:10] mfix-stripe commented on #73
Yes!

[2022-06-02 17:05] rpaul-stripe commented on #72
By default, the Markdoc parser attempts to parse Markdoc tags that appear inside of fenced code blocks. This behavior can be disabled individually per fenced code block by putting a `process=false` annotation in the fenced block's info line:

[code]

We probably ought to add a global configuration option for this so that it doesn't need to be set individually for each fence.

[2022-06-03 05:18] nrtkrishna commented on #73
Thank you for the confirmation @mfix-stripe. I have tried with webpack 4 and I am getting below error. Could you share your thoughts why is it not compiling or any quick fix?

`./node_modules/@markdoc/markdoc/dist/index.mjs 10624:17
Module parse failed: Unexpected token (10624:17)
File was processed with these loaders:
 * ./node_modules/babel-loader/lib/index.js
You may need an additional loader t

[2022-06-03 06:24] RomanHotsiy commented on #72
That would be great! I would also vote for making process=false the default.

[2022-06-03 16:36] mfix-stripe commented on #73
@nrtkrishna try upgrading your node version to >=13. You are just running an issue with the optional chaining syntax.

[2022-06-03 20:28] zeel01 commented on #70
While I see the desire to avoid additional dependencies, the `markdown-it-footnotes` syntax is greatly preferable to using a custom tag for this purpose. Not only is this syntax much less verbose, but I've seen it in use on a number of popular platforms, so using this syntax is much more familiar to users.
To that end, it seems like the best choice would be to either make it readily and easily pos

[2022-06-03 20:39] zeel01 commented on #70
Aside: I don't think this should be marked as `duplicate` if #74 is being pointed here and the previous discussion regarding it was a Pull Request.

[2022-06-05 14:10] simkimsia opened #77 "[Question] can I just export to html and use the html in other frameworks like django or sphinx?"

[2022-06-05 14:19] #77 closed

[2022-06-06 21:54] matildepark commented on #72
`{% process=false %}` created some issues with my highlighter (prism-react-renderer), specifically crashing because it was trying to process a code block that was `undefined`? Seems like it just skips over it. If I try to call the Fence component like a custom component (`{% fence process=false %}`) then it seems to just skip over processing the entire block, so that clearly isn't the way. Anyway,

[2022-06-07 01:42] matildepark commented on #10
How do we utilise the implementation? I applied the diffs to the source in node_modules, copied the patches, build.js, and tsconfig.json folders/files back into the node_modules distribution of markdoc, and rebuilt, and inline HTML is still passed as strings. Do I have to define a schema?

[2022-06-07 01:44] fbartho opened #80 "Enhancement: markdoc/next.js TypeScript emit"
I've been fiddling with a custom NextJS plugin (reason: I have differing opinions™  than NextJS does about how to structure my project, not your problem).

In this project I decided to use the code in https://github.com/markdoc/next.js/blob/main/src/loader.js as an example on the right way to integrate -- and it works! Great!!

In my project I'm using TypeScript, so I set about finding the right t

[2022-06-07 01:48] fbartho commented on #80
It's very possible even very likely that I've confused myself -- the code I was lifting was generated by this segment of the loader: https://github.com/markdoc/next.js/blob/bb6033df2326521059ee5d93adee8330daca0cac/src/loader.js#L147-L160

What's the right type for `const schema: ?`

[2022-06-07 23:00] mfix-stripe commented on #80
Hey @fbartho! Sorry for the delay here.

There is a lot to unpack here, but I will try my best 🙂

FWIW, the loader in the Next.js plugin is very Next.js-specific, so might be extracting a generic one from it might not be the best place to start. For example, you could create a pretty basic webpack loader like this:

[code]

As for the [`Config`](https://github.com/markdoc/markdoc/blob/main/src/typ

[2022-06-07 23:35] fbartho commented on #80
Thanks for the answers, I'm happy to close this ticket at this point, unless you want to execute on changes from it -- Don't feel obligated to read further.

## Answering your question

What I meant there was that `loader.js` builds a source-file as a large string, that is interpreted by the other JS/JSX loaders -- I was curious if it should instead build a file that is first processed by the `.ts

[2022-06-08 07:26] nrtkrishna opened #81 "Not parsing regular markdown file tags"
Hi Folks,

I am trying to assess markdoc for my project  documentation. Custom tags look great! But I am worried about the regular markdown support. When I try to parse a markdown file I see below error as part of Markdoc.validate(ast). Is this something to do with any configuration or Am I missing anything here?

`[{
		type: 'tag',
		lines: [16, 17, 21, 22],
		location: {
			file: undefined,
			s

[2022-06-09 00:11] fbartho opened #82 "Enhancement / Bug: Missing CommonMark node type 'code_block'"
### What happened?

I added a (test) markdown file that had the following expressions:

[code]

When I rendered it with the react renderer under nextjs, this document threw the error:

`Error: Undefined node 'code_block'`

### To reproduce

1. Enter the content in a markdown file as described above
1. Render it in your markdoc-based nextjs site
1. See the error!

Will submit a PR with test cases s

[2022-06-09 18:02] jtbayly commented on #70
Just going to add that I am mostly interested in MarkDoc as a way to write books. Footnotes are essential for that some way or another.

[2022-06-09 20:28] SamuelQuinones opened #85 "Unable to add custom tags in Next.js app on Windows"
### What happened?

When running a new NextJS app on a **Windows** machine running **Node v14.19.3** using the markdoc example, the app fails to load, throwing a failed to compile error:

![image](https://user-images.githubusercontent.com/51345689/172937002-1a1ed9d6-ada5-43f2-ac57-ccea86242811.png)

After some tinkering - I found that by removing the tags, the app / page would finally render.

###

[2022-06-09 20:43] mfix-stripe commented on #85
@SamuelQuinones can you try installing `0.1.4`? Issues with `.tsx` got resolved in that version.

[2022-06-09 21:11] SamuelQuinones commented on #85
@mfix-stripe both `@markdoc/markdoc` and `@markdoc/next.js` were set to latest in the package.json, I ran `npm i @markdoc/markdoc@latest` and `npm i @markdoc/next.js@latest` and ended up with this:

[code]

Issue still persists

[2022-06-09 22:27] SamuelQuinones commented on #85
An update:

I tried creating / running the app on Another windows machine, this one using node v16.13.0.

I get the same error so it looks it might be OS / platform related?

[2022-06-10 15:13] kemmerer opened #87 "Allow using variables for link hrefs"
### What happened?

# What I'm trying
I'm trying to use a variable to populate a link. More complete example below, but something like:

`'[Link]({% $linkVariable %})'`

# What I'd expect
I'd expect that the end result is a link element pointing to `linkVariable`.

e.g. If `$linkVariable` is "https://markdoc.io", something like:
`<a href="https://markdoc.io">Link</a>`

# Actual result
Instead the

[2022-06-10 19:16] matv-stripe commented on #87
Hi @kemmerer ! Thank you for the detailed report

In stripe.com/docs to solve this we have a custom `link` tag which allows us to do `{% link href=$variable %}Link{% /link %}` . We intentionally use this tag infrequently because we try to enforce fully static links so we can perform broken link detection.

Like you mentioned, this issue occurs based on how `markdown-it` is parsing out the contents

[2022-06-10 19:17] mfix-stripe commented on #87
@kemmerer this is currently working as intended, so I changed your issue from a bug to an enhancement 🙂.

Not sure if we want to support this or not yet, because it creates complications in the language semantics for of how variables are applied.

That said, you can always use the work-around @matv-stripe described above^ 🙂

Hope that helps!

[2022-06-10 19:28] mfix-stripe commented on #85
It definitely seems to be that way. Marked the issues as `os:windows`. This actually seems to be unrelated to Markdoc, and is simply an issue with our Next.js app being able to parse the JSX in the `.tsx` file (error points at the first `<` of a JSX element).

[2022-06-10 19:31] kemmerer commented on #87
Ah, great! Thanks @matv-stripe and @mfix-stripe.

The workaround works well enough for my purposes.

It might be better off documenting the variable substitution constraints rather than trying to figure out how to make it work for the enhancement. (e.g. adding the custom link tag to the FAQ or something along those lines.)

[2022-06-10 20:00] mfix-stripe commented on #87
I dig this idea.

[2022-06-10 23:45] #87 closed

[2022-06-10 23:47] mfix-stripe commented on #87
Deployed here: https://markdoc.io/docs/variables#caveats

[2022-06-11 00:05] mfix-stripe commented on #80
Ah yes, makes sense. We want the loader to emit JSX-like contents for this particular plugin, as it has a dependency on Next.js, and therefore React. However, we don't want to introduce an explicit dependency on TypeScript, because folks should be able to use this loader with out it.

As for calling `Markdoc.transform` yourself, you can organize your `config` however you prefer, and then just impo

[2022-06-11 03:27] febriliankr opened #88 "Attempted import error when deploying to vercel"
### What happened?

Attempted import error: '/vercel/path0/markdoc/tags/index.ts' does not contain a default export (imported as 'tags'). Also unable to deploy to vercel

### To reproduce

Clone this repository and npm run build/yarn build

### Version

0.1.2

### Additional context

_No response_

[2022-06-13 02:09] Siumauricio commented on #41
I'm getting like almost the same error when I run Next-starter repo, I'm pretty sure is related about webpack config,
Error when I run Next-example
![image](https://user-images.githubusercontent.com/47042324/173267101-7837bbf6-d6b4-4e48-b2fd-7f2c19f4f4f7.png)

I be run the test and prints some errors.
![image](https://user-images.githubusercontent.com/47042324/173266911-f7cdc50e-d68a-4174-b7c7-b68

[2022-06-14 18:15] mfix-stripe commented on #80
@fbartho converting this to a discussion—hope that is ok with you 🙂

[2022-06-14 18:15] #80 closed

[2022-06-16 19:30] #72 closed

[2022-06-18 04:02] febriliankr commented on #88
Yes I used that repo.

I'm using MacOS Monterey 12.0.1 (21A559). I don't think the issue is in my machine cause vercel build process also showed that message. Thank you

[2022-06-18 06:29] Siumauricio opened #98 "Nextjs markdoc starter failing"
### What happened?

The current nextjs starter repo are not working on windows.

I expect to work.

### To reproduce

Download the next repo starter.
Run on machine Windows

### Version

Latest of nextjs and markdoc

### Additional context

This is the error throwing in the browser, I also tested in another project mine

![image](https://user-images.githubusercontent.com/47042324/174425849-c5b41ee

[2022-06-18 11:43] arranf commented on #98
I'm seeing something similar when trying to run my Nextjs site on Windows. Same `Module parse: unexpected token` error for `.tsx` files.

I am using the latest libraries (0.14 `@markdoc/nextjs`, 0.13 markdoc).

Same project works fine on Ubuntu.

[2022-06-18 22:38] Siumauricio commented on #98
Yeah looks like this issue is only in Windows, the only way that I be found is running trough WSL ( Ubuntu 20.04)

[2022-06-20 02:50] MarcusSorealheis commented on #13
+1 idea of a Search bar, and I would also be open to building whatever is needed to support MongoDB Atlas Search.

It's not an alternative to Elasticsearch, per se, but it does run on the same sub-system, [Apache Lucene](https://github.com/apache/lucene/), and MongoDB. There's a free tier that will be big enough for almost all companies' docs content and some great open source UI options. We have

[2022-06-20 21:00] mfix-stripe commented on #98
This is a duplicate of https://github.com/markdoc/markdoc/issues/85—please add information to that issue so we can track it 🙂

Also @arranf @Siumauricio if you are able to push a fix for this issue, that would be fantastic. I don't have access to a Windows machine at the moment.

[2022-06-20 21:00] #98 closed

[2022-06-20 21:07] arranf commented on #85
@mfix-stripe Can we rename this issue to something that identifies this is Windows?

[2022-06-20 21:07] mfix-stripe commented on #88
@febriliankr I see that message locally, but it is just a warning, and should be benign. I am able to deploy the repo despite the warning message: https://markdoc-starter-stripe-oss-stripe-dev.vercel.app.

Can you try redeploying with `npx vercel --force`?

[2022-06-23 21:38] arranf commented on #85
@mfix-stripe I'd be happy to fix the issue here but I don't know which ballpark to look!

Any ideas?

[2022-06-23 21:45] mfix-stripe commented on #85
@arranf it definitely has something to do which how files are being resolved here: https://github.com/markdoc/next.js/blob/main/src/loader.js

I thought this issue had been fixed with: https://github.com/markdoc/next.js/commit/a5ecea39c2e44d4d44bfbd58fcf125453e4932d9 and https://github.com/markdoc/next.js/commit/d6f933465f4f0d340c38546de53f3b358b379d5e, but I guess some still remain.

[2022-06-24 17:28] rpaul-stripe commented on #82
We don't support indent-based code blocks because they create challenges for using indentation to improve the readability of nested content. Fenced code blocks are strictly better because they don't create ambiguity for indentation and they also support an info line for specifying the programming language.

The error that you are seeing is definitely a bug, however. We are pushing a fix that will

[2022-06-26 23:20] MatthewCaseres opened #106 "add math rendering"
Can we render math? I couldn't find it in the docs.

[2022-06-27 14:32] francisfeng opened #107 "How can I make markdoc with Next.js work like mdx with Next.js?"
### What happened?

I set up a demo repo for my purpose in here: [markdoc-nextjs-demo](https://github.com/francisfeng/markdoc-nextjs-demo).

From what I understand, `@markdoc/next.js` transforms markdown files into React components. So I should be able to `import` a md file and treat it as a React component in any place suitable, just like the way `@next/mdx` works.

Just like this:
[code]

But wh

[2022-06-27 17:06] mfix-stripe commented on #107
@francisfeng you need to pass in the props from `pageProps` (as [demonstrated here](https://github.com/markdoc/docs/blob/main/pages/_app.js#L195))

[code]

[2022-06-27 17:06] #107 closed

[2022-06-28 02:12] francisfeng commented on #107
I think it’s a little more than that. As you can see in my [`_app.js`](https://github.com/francisfeng/markdoc-nextjs-demo/blob/5d275379a3bd5d37348c294d679d22c40212774a/pages/_app.js#L4), if I open `localhost:3000`, the console will print out an empty object with `pageProps`.

**These is no `markdoc` property in `MyApp` component.**

[code]

But if I change `index.js` to `index.md`, now the console

[2022-06-28 04:20] johnlindquist commented on #107
I'm in the same situation.

My current workaround:

In `_app.tsx`:

[code]

[2022-06-28 07:51] StarpTech opened #110 "Fast Refresh in Next.js doesn't work"
### What happened?

Fast Refresh does not work when using the Next.js plugin. You can reproduce it on your own [docs](https://github.com/markdoc/docs).

### To reproduce

1. Checkout https://github.com/markdoc/docs
2. Start `npm run dev`
3. Go to [http://localhost:3002/docs/getting-started](http://localhost:3002/docs/getting-started)
4. Edit text in `pages/docs/getting-started.md`
5. No effect unl

[2022-06-28 16:16] mfix-stripe commented on #110
@StarpTech our docs use a slightly different system than a typical Markdoc integration, because we need to demonstrate Markdoc both on the server (typical) and on the client (to showcase the in browser editor)

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/62121649/176229311-5bd1b417-cdf5-4650-b78b-1c565cbf95fc.png">

Without this custom integration, fast refresh wil

[2022-06-28 17:15] mrboen94 commented on #110
Same happens here, using the new templates from tailwindui and firefox.
It also seems like local images are struggling to be loaded, while remote images work as expected.

[2022-06-28 17:16] thecrypticace commented on #85
Hi, I was looking into this to see if I could PR a solution (not there yet).

From my investigation this _could_ be an issue with Markdoc but it also could be an issue with Next.js and how it's webpack rules are set up and work on Windows.

The loader calls `readDir()` which results in output from the loader like this:
[code]

Using the absolute paths like this breaks. It's like Next.js doesn't se

[2022-06-28 17:18] arranf commented on #85
This seems like a fix would be to convert it to use non absolute paths on Windows?

On Tue, 28 Jun 2022, at 6:17 PM, Jordan Pittman wrote:

[2022-06-28 17:22] mfix-stripe commented on #85
Thanks @thecrypticace.

@arranf I am not sure we should should convert to non-absolute paths on Windows yet.

However, there might be a fix involved with _not_ using `.posix` in a place or two here: https://github.com/markdoc/next.js/blob/main/src/loader.js.

Using `posix` fixed one issue for me in the past (https://github.com/markdoc/next.js/pull/5/files) , but might have introduced another, and

[2022-06-28 17:24] thecrypticace commented on #85
@mfix-stripe Yep, I think not using POSIX paths would fix it. The Next.js config for js, jsx, ts, tsx, etc… files does not use POSIX paths for the includes array which is the source of the issue:

[code]

[2022-06-28 17:46] mfix-stripe commented on #85
Agreed. I think we might be able to just remove all the `normalizeAbsolutePath` and just update the tests. The tests need to work on both unix and windows, which is a little tricky, but we just need to hack the paths so they are identical.

[2022-06-28 18:55] mfix-stripe commented on #88
Closing w/ above fix. Please open a new issue with steps to reproduce if something comes up.

[2022-06-28 18:55] #88 closed

[2022-06-28 18:56] mfix-stripe commented on #85
@thecrypticace @SamuelQuinones @arranf could one of you try installing [`0.1.5-0`](https://github.com/markdoc/next.js/releases/tag/0.1.5-0) and seeing if that fixes the issue?

[2022-06-28 19:00] thecrypticace commented on #85
_almost_ — the slashes need to be double escaped because they're going into a string:

<img width="1104" alt="Screen Shot 2022-06-28 at 14 58 51" src="https://user-images.githubusercontent.com/614993/176261354-6f96864d-85d6-4649-8e54-be47c00faabb.png">

[2022-06-28 19:14] mfix-stripe commented on #85
@thecrypticace I think the error above actually has to do with the imports starting w/ `C:`, and webpack not understanding is correctly. I _believe_ the escaping issue is just broken on the error overlay, not with the actual imports themselves.

[2022-06-28 19:19] mfix-stripe commented on #85
@thecrypticace do you think enabling [`preferAbsolute`](https://github.com/webpack/enhanced-resolve#resolver-options) could resolve this?

[2022-06-28 19:29] thecrypticace commented on #85
I don't think preferAbsolute would end up changing the result.

[2022-06-28 19:33] StarpTech commented on #110
Hi @mfix-stripe, the markdoc docs was just an example. I reproduce it with a simple Next.js example according to the docs. As @mrboen94 mentioned the spinner is visible but the content is load refreshed.

Ubuntu, Chrome

[2022-06-28 19:42] mfix-stripe commented on #85
Thanks @thecrypticace! If you edit your node_modules locally with [these changes](https://github.com/markdoc/next.js/pull/11/files), does that fix your issue?

[2022-06-28 19:45] StarpTech opened #111 "Next.js plugin - Does not contain a default export (imported as 'tags')."
### What happened?

I see the following error when building Next.js

[code]

markdoc/tags/index.ts
[code]

I use the markdoc Next.js integration

### To reproduce

1. Create a markdoc example with Next.js integration
2. Build the Next.js project.

### Version

0.1.3

### Additional context

"@markdoc/next.js": "^0.1.4",

[2022-06-28 19:45] thecrypticace commented on #85
@mfix-stripe It does! 💯

[2022-06-28 20:41] mfix-stripe commented on #85
Rad! Just released https://github.com/markdoc/next.js/releases/tag/0.1.5-1. @thecrypticace could you install this latest version and double-check that it works for you? _Really_ appreciate your help on this 🙂

[2022-06-28 20:43] mfix-stripe commented on #111
@StarpTech this error comes from some internal webpack thing, but as far as I can tell, is completely benign.

Are you seeing issues besides the logged error (outside of #85)

Which _exact_ `@markdoc/next.js` version are you using? I'm also assuming you are still using Ubuntu, Chrome?

[2022-06-28 20:52] thecrypticace commented on #85
@mfix-stripe yep that does indeed work 🎉

[2022-06-28 21:02] mfix-stripe commented on #85
🙌 fantastic! Thanks for all your help here @thecrypticace 🙏

[2022-06-28 21:02] #85 closed

[2022-06-28 21:04] mfix-stripe commented on #85
https://github.com/markdoc/next.js/releases/tag/0.1.5

[2022-06-28 21:34] mfix-stripe commented on #110
I imagine this could be an Ubuntu specific issue.

I just cloned our starter repo (https://github.com/markdoc/markdoc-starter), and the Fast Refresh is working on MacOS/Chrome:

https://user-images.githubusercontent.com/62121649/176302297-840fb0cc-2160-42a7-bbd6-e1c549924167.mp4

[2022-06-28 21:43] StarpTech commented on #111
It reports the errors but it works. I use `0.1.4`.

Yes

[2022-06-28 21:52] StarpTech commented on #110
The demo works for me too :confused: but doesn't in my app. After upgrading to [0.1.5](https://github.com/markdoc/next.js/releases/tag/0.1.5) it also works in my app. Thank you :partying_face:

[2022-06-28 21:53] mfix-stripe commented on #110
Oh awesome! Cool if I close this issue @StarpTech? 🙂

[2022-06-28 21:53] #110 closed

[2022-07-01 10:23] StarpTech opened #113 "Can't create custom Image Node for Next.js"
### What happened?

Markdown automatically wraps a `<p>` around the whole image component. This results in a Hydration mismatch

[code]

[code]

### To reproduce

See above.

### Version

_No response_

### Additional context

_No response_

[2022-07-01 14:34] khash commented on #72
I had some Liquid template code I needed to render as a code block and given the similarities of Liquid and Markdoc, the page wasn't rendering (non-closed tags and many other issues as expected). I tried the `{% process=false %}` method which perhaps combined with my Prism highlighter (Next.js) fixed the errors, but also skipped the entire code block (and empty element was returned).

I managed to

[2022-07-01 16:53] StarpTech commented on #113
FYI: It worked with a `span` as container element.

[code]

[code]

Usage:
[code]

[2022-07-03 17:37] StarpTech opened #114 "Tag is ignored when double quote is missing in tag attribute"
### What happened?

This was quite hard to debug. I had the following:

[code]

No error thrown. I'd expect that the parser throws an error.

### To reproduce

See above.

### Version

0.1.3

### Additional context

_No response_

[2022-07-05 16:58] mfix-stripe commented on #111
@StarpTech I'm going to mark this as closed since not a real bug. We will keep an eye on the warning message reported here in case it causes real issues. Since this is internally reported by webpack/next.js, there isn't too much we can do to mitigate it, as far as I'm aware.

If you do find a clean way to resolve this issue though, please feel free to share a PR.

[2022-07-05 16:58] #111 closed

[2022-07-05 17:07] mfix-stripe commented on #113
This is expected, as `![altText](URL)`  in the Markdown spec creates an inline element, which according to the spec should be nested within a `p` tag. This is why when you render a `span` instead of a `div`, the error goes away.

If you want to use a block level image, I would suggest creating an `image` _Tag_, which would be used like:
[code]

Then you could render a `div` in your `Image` compone

[2022-07-05 17:07] #113 closed

[2022-07-05 17:34] StarpTech commented on #113
I have fixed it very similarly but this destroys the benefit of using just markdown.

[2022-07-08 23:05] matv-stripe opened #119 "Should the type of node.type be NodeType instead of string"
Currently this is a `string`: https://github.com/markdoc/markdoc/blob/98dd88386e3982a10af8c76fc1c4bf8e30498318/src/ast/node.ts#L21

Should these be of this type?
https://github.com/markdoc/markdoc/blob/main/src/types.ts#L60

[2022-07-11 14:05] mfix-stripe commented on #119
Or we could add `'node' | 'tag' | 'error'` to `NodeType`

[2022-07-15 12:13] jakuski opened #121 "[Feature Request] Syntax plugin for VSCode?"
Hi there,

I've noticed the `markdoc/docs` repo has an extension for code mirror to highlight the `{% ... $}` syntax that Markdoc adds to Markdown. Is there any possibility of bringing this to vscode?

Many thanks

[2022-07-15 14:33] ntgussoni opened #122 "No validation on partials"
### What happened?

Using a partial that doesnt exist fails silently, I don't know if this is intended, but I think since integrity of the docs depends on every piece "working" partials should have a validation error.

Is this intended for some specific reason?

I ended up adding the validation on my side, but if this is something that could go inside of the default functionality I'll be glad to m

[2022-07-15 14:52] mfix-stripe commented on #121
Hey @jakuski, @mohitsinghs created an unofficial VSCode extension here: https://github.com/markdoc/markdoc/discussions/5#discussioncomment-2824702.

We will use that thread to track future editor support from the Markdoc team—feel free to jump into that thread if you have other suggestions. 🙂

[2022-07-15 15:03] mfix-stripe opened #123 "No error when accessing missing variables"
I see the same happens when accessing missing variables, isn't this expected to throw an error?

_Originally posted by @ntgussoni in https://github.com/markdoc/markdoc/issues/122#issuecomment-1185614546_

[2022-07-15 16:28] #122 closed

[2022-07-15 22:01] AlexVipond commented on #10
A few more use cases where it's super useful to render unescaped HTML:

## Custom syntax highlighting
Best-in-class highlighters like [Shiki Twoslash](https://shikijs.github.io/twoslash/) render code (i.e. Markdoc fence content) to a string of HTML with highlighter classes and/or styles already applied.

Returning these raw HTML strings is a big DX improvement, instead of having to write additiona

[2022-07-18 07:12] HonzaMac opened #128 "Types for async transform"
### What happened?

Seem typings were not updated for `async transform(node, config)`

[code]

### To reproduce

Declare custom configuration with async method:

[code]

### Version

0.1.4

### Additional context

https://github.com/markdoc/markdoc/discussions/90

[2022-07-18 09:42] symmb opened #129 "Use registered schema in Next.js validation"
### What happened?

I changed a fresh Next.js started clone in a way that should (as far as I understand) clearly trigger a schema validation error but I didn't get any error from `npm run dev` or `npm run build`. I expected the build to fail both using the `dev` and the `build` script.

### To reproduce

1. Clone the [Next.js starter project](https://github.com/markdoc/markdoc-starter/tree/cf3636

[2022-07-18 10:12] symmb opened #130 "TypeScript errors when using the `Schema` type for node/tag definitions"
### What happened?

I wanted some type safety when defining nodes and tags so I added a `Schema` type annotation to the `callout` tag definition from the Next.js starter project. I expected no type errors but got two: one for the `render` property and one for a `description` property on an attribute. When I comment out both properties I get an error for the `description` property of the tag.

###

[2022-07-18 10:50] symmb opened #131 "Hot reloading breaks after one minute with the Next.js starter"
### What happened?

Whenever I run `npm run dev` and leave the page untouched in the browser and editor for about a minute, hot reloading doesn't have an effect anymore. The Next.js reload indicator in the lower right corner still shows up but the page does not update when I change something in my sources. Refreshing the page or performing any sort of page navigation (without a full reload) fixes

[2022-07-18 23:25] #130 closed

[2022-07-18 23:28] mfix-stripe commented on #129
@symmb I'm changing this issue from a bug report to an enhancement, since this is currently working as intended.

We just need to include the correct config here: https://github.com/markdoc/next.js/blob/main/src/loader.js#L68.

Previously, I had not included the config there because then it needs to be imported in 2 places, though at this point, I think that is worth it.

(Cc @matv-stripe)

[2022-07-18 23:37] mfix-stripe commented on #128
@HonzaMac since async support is currently experimental (and undocumented), we have not decided yet how native we want to support the types. It would be nice if TypeScript could detect the use of `async` and adjust accordingly, so we don't have to hurt the DX for sync users (who would have to check against a promise being returned), but that is not currently possible, as far as I am aware.

This s

[2022-07-19 16:13] symmb commented on #131
I'm on openSUSE Leap 15.3 and I've tested it on both Google Chrome (Version 103.0.5060.114) and Firefox (91.10.0esr).

[2022-07-19 16:21] symmb commented on #130
Cool, thanks! For anyone stumbling across this issue, it also looks like you have to use

[code]

instead of

[code]

if you wanna use it to verify the exported `const`.

[2022-07-21 07:32] jensneuse commented on #131
same problem for me on macos 12.4 with Chrome Version 103.0.5060.114 (Official Build) (arm64)

[2022-07-21 19:13] #129 closed

[2022-07-22 19:11] 0xdeepmehta opened #136 ""Copy" button to all code blocks"
Is there any way to add the `Copy` button in code blocks?

[2022-07-22 19:16] mfix-stripe commented on #136
Here is an example of the copy button we use for https://markdoc.dev: https://github.com/markdoc/docs/blob/main/components/Code.js#L48-L74

[2022-07-22 19:16] #136 closed

[2022-07-22 22:04] leerob commented on #131
Sorry about this experience – @mfix-stripe let me know if you need any support from the Next.js side.

[2022-07-22 22:24] mfix-stripe commented on #131
Ayy, thanks for offering @leerob! I don't think anything special is going on in our plugin that could cause this to happen, so feels like a Next.js specific bug to me. Especially since our plugin [mimics](https://github.com/markdoc/next.js/blob/main/src/index.js) the MDX plugin almost identically: https://github.com/vercel/next.js/blob/canary/packages/next-mdx/index.js

Cc'ing @ijjk in case someth

[2022-07-23 14:40] ijjk commented on #131
Taking an initial look I'm not able to reproduce the HMR failing after a certain amount of time, it may be related to certain files being edited. To ensure webpack is tracking any files referenced the different loader dependencies can be added for example here's how it is managed in the postcss loader https://github.com/vercel/next.js/blob/8b721227cf82a0af3be07663dc8d218430c80514/packages/next/bui

[2022-07-24 18:55] jameshfisher opened #144 "Is there a way to set attributes on a list?"
### What happened?

There is no way to set attributes on a list, i.e. to get an AST like:

[code]

### To reproduce

I tried various ways to set attributes on a list, such as

[code]

However, none resulted in a `list` node with attribute `"id": "mylist"`.

### Version

0.1.4

### Additional context

I know I can set attributes on `heading` and `paragraph` nodes with syntax like:

[code]

However,

[2022-07-25 09:26] jameshfisher opened #145 "Markdoc formatter"
I need to write a script that modifies Markdoc files. Specifically, it will add an `id` attribute to nodes that do not yet have one. For example, given the file:

[code]

I want to modify the file to:

[code]

(Where `d3adb33f` is some fresh identifier, e.g. a UUID.)

I want to do this transform with a pipeline like

[code]

However, I don't see a `Markdoc.stringify`, or a `Node.toString`, or a Ma

[2022-07-25 16:50] mfix-stripe commented on #145
@jameshfisher do you really need to write the id to the file though? Or can you just generate the ID at runtime? We currently do this w/ our headings for our docs site https://github.com/markdoc/docs/blob/main/markdoc/nodes/heading.markdoc.js#L27

[2022-07-25 18:14] jameshfisher commented on #145
Thanks for the reply @mfix-stripe. Yep, I do need to write it to the file, because it has to remain stable.

(Btw, I'm looking at using https://github.com/remarkjs/remark instead, because it seems to have a much stronger emphasis on such transformation pipelines. I guess the difficulty in Markdoc is that it builds on markdown-it, which seems to not have any "stringify" feature.)

[2022-07-25 18:34] ntgussoni commented on #70
I think footnotes is a pretty regular thing for writers, specially those writing books. I can see most of us (i already have it in a todo list) implementing our own version of this. It's true that it can also be implemented with a regular link, but I believe the regular [^1] usage is widely spread

[2022-07-25 20:44] mfix-stripe commented on #131
Thanks for taking a look @ijjk. We do currently add a context dependency to the entire `markdoc/` dir (https://github.com/markdoc/next.js/blob/09712e2bd2add910e4de38ee19da4a8288ad289d/src/loader.js#L198), and @symmb mentioned the HMR stops working for the `pages/` dir, so I don't think that is the issue.

I am actually fairly certain this is the problem: https://github.com/vercel/next.js/issues/19

[2022-07-29 15:06] johnagan opened #154 "Passing variables to transformChildren()"
I'm attempting to pass in additional variables when calling `node.transformChildren()`, but they seem to be ignored in favor of the variables passed in on `transform()`. I expected it to work similar to the [partial tag](https://github.com/markdoc/markdoc/blob/24a6cdce51813753721c6416a30bd3c54d9f01b7/src/tags/partial.ts#L44), but it doesn't seem to.

*Example*
[code]

*Output*
[code]

Any ideas wh

[2022-07-30 20:14] johnagan commented on #154
I dug through the code and realized that `Markdoc.transform()` cascades a `resolve()` call through the tree before reaching calling the tag's custom `transform()`... which seems strange to me 🤔 Maybe there should be a custom resolver per tag or something.

I ended up having to hack a solution by walking the tree and saving the original children for certain tags
[code]

then in my tag I pull that t

[2022-07-30 20:14] #154 closed

[2022-08-01 00:31] #123 closed

[2022-08-01 10:28] Pagebakers commented on #113
[code]

I had to hack the paragraph node to make sure block Tags aren't rendered inside a p node.

[2022-08-01 16:46] altosaar opened #155 "Can't deploy markdoc.dev demo site"
### What happened?

Tried to deploy test site on a fresh Macbook pro but get an error.

Dependencies:
* Installed node with `brew install node`

Trying to deploy markdoc.dev following the instructions at https://github.com/markdoc/docs:
* Fork https://github.com/markdoc/docs to https://github.com/onefact/onefact.org.git
* `git clone https://github.com/onefact/onefact.org.git`
* `cd onefact.org`
*

[2022-08-01 17:26] rpaul-stripe commented on #144
This is exactly what we do at Stripe, and it is likely the best way to handle it today.

We have previously considered the possibility of creating a built-in tag in Markdoc that applies its attributes to its direct descendent—something like this:

[code]

We decided that we preferred to have explicit tags like `list` in userspace, but I'm very open to revisiting the `apply` feature if there's suff

[2022-08-01 17:31] mfix-stripe commented on #113
@Pagebakers our docs describe why some elements are wrapped in a `p` tag here: https://markdoc.dev/docs/syntax#tags

[2022-08-01 17:33] mfix-stripe commented on #144
Closing this issue with the answer from @rpaul-stripe above. @jameshfisher please feel free to open a new issue, or question in our discussions forum (https://github.com/markdoc/markdoc/discussions) instead.

[2022-08-01 17:55] mfix-stripe commented on #155
@altosaar this is just due to a issue with `react-codemirror2`'s dependency list. You can fix this by running either:
[code]
or
[code]

You will only need to run this once, as far as I can tell 🙂

Let me know if this works for you.

[2022-08-01 20:22] mfix-stripe opened #156 "Improve image node"
- [ ] Update image syntax so that if it is on a line by itself, it is treated as a block, otherwise treat it as an inline element.
  * The default schema would render block-level images in a `figure` instead of a `p`, but this behavior would be possible to override in a custom node definition’s transform function
- [ ] Update image syntax to allow passing additional attributes
  * E.g. `![alt](/hr

[2022-08-02 15:10] OFranke commented on #10
@marshall007:  I found a workaround with React here until the PR of @rpaul-stripe is merged.

 I've worked around that issue by giving the ability to define the htmlWrapperTag by yourself.

[code]

Usage in .md file:
[code]

[2022-08-03 03:01] OFranke commented on #70
So with my `UnescapedHtml` component in https://github.com/markdoc/markdoc/issues/10#issuecomment-1202784140 I am able to create footnotes like this:
[code]

![Bildschirmfoto 2022-08-03 um 04 53 53](https://user-images.githubusercontent.com/12813089/182514085-a1591368-7603-4f24-8420-967685a59467.jpg)

@mfix-stripe @rpaul-stripe So I could create another tag that would enforce styling consistency a

[2022-08-03 04:38] HonzaMac commented on #128
Is it possible to make 'validate' also async?

[2022-08-03 06:20] matildepark commented on #70
Once you're manually doing the work of injecting the footnotes and their corresponding citation in HTML in the Markdown you might as well just write your article in HTML and not Markdown.

@OFranke [here](https://github.com/urbit/foundation-design-system/blob/6582ecf71372813c048a8e968c8106e59f7d1e46/src/components/Markdown.js#L96-L199) is what we do as per discussion in #40.

[2022-08-03 07:32] OFranke commented on #70
Yes youre absolutely right. For me this is just a simple workaround to get it done.

Thanks for the link to the urbit repo, I see there's a custom fork of markdoc. I'll have a look into that, thank you! I am using markdoc with nextjs integration so I am not quite sure if there's a way to hook into the AST parsing for customizing.

[2022-08-03 16:54] matildepark commented on #70
All that's in the fork is merging the `html-support` branch and also adding `markdown-it-sup` to the parser for superscript.

[2022-08-03 17:18] nkohari-stripe commented on #70
IMO, this is something best left to users to customize. There are lots of different ways a note can be displayed (section footnote, endnote, asides, etc.) so I think it'd be challenging to provide a one-size-fits-all solution.

I've solved this problem using a pretty simple implementation of a `{% note %}` tag, which serves two roles depending on whether it has children. I then display the content

[2022-08-03 19:55] mfix-stripe commented on #70
For the time being, we are encouraging folks to follow the pattern @nkohari-stripe described above (https://github.com/markdoc/markdoc/issues/70#issuecomment-1204252960), so I am going to close this issue. We can revisit this further down the road if we see other needs.

[2022-08-03 19:55] #70 closed

[2022-08-03 20:27] mfix-stripe commented on #131
@ijjk any thoughts on the above? Is there a idiomatic way to force `getStaticProps` to re-run on save?

[2022-08-03 21:00] ijjk commented on #131
Hmm we do have a test for server import changes triggering the data to be refreshed client-side [without reloading here](https://github.com/vercel/next.js/blob/2722876eb580f65439f898db6d1fb03c5c0bc5c5/test/development/basic/gssp-ssr-change-reloading/test/index.test.ts#L314), if we could track down a test case for this we could investigate patching this easier.

[2022-08-12 16:11] #128 closed

[2022-08-12 16:18] mfix-stripe opened #166 "Custom Image node with width, class, height attributes"
### Discussed in https://github.com/markdoc/markdoc/discussions/165

<div type='discussions-op-text'>

<sup>Originally posted by **skylerknight** August 12, 2022</sup>
Is it possible to create a custom image node with attributes other than alt,src?

It would be useful to be able to add custom classes/ids to images similar to the way it is done with heading/paragraph nodes. Like so:

[code]
</div>

[2022-08-12 16:19] mfix-stripe commented on #166
Closing as duplicate of https://github.com/markdoc/markdoc/issues/156

[2022-08-12 16:19] #166 closed

[2022-08-14 19:08] nick-kang opened #169 "Improve types for `Tag`"
Add a generic type to the `Tag` class to make it more type-safe when specifying attributes.

[code]

[2022-08-15 20:51] #169 closed

[2022-08-17 17:34] nvanexan commented on #156
Hey all 👋 - quick question re additional attributes. Does this mean Markdoc will be departing from the commonmark spec for images at the parsing phase? E.g. https://spec.commonmark.org/0.30/#example-571

[2022-08-17 18:02] mfix-stripe commented on #156
@nvanexan potentially. Though depending on implementation specifics, we could make it a strict syntactical extension. Do you have concerns with going this direction?

[2022-08-17 18:08] mfix-stripe commented on #145
@jameshfisher we released a new experimental formatter in [v0.1.5](https://github.com/markdoc/markdoc/releases/tag/0.1.5). Please give it a try and let us know if you run into bugs.

[2022-08-17 22:51] nvanexan commented on #156
@mfix-stripe no, not really. I can see this being valuable. I had some hesitation about portability and compatibility when I saw the example above. For example, if I use those additional attributes in an .md file, does that make my images un-renderable in other contexts (e.g. GitHub, iAWriter, etc.)? And if I have files already implementing commonmark image patterns with a string for a title/capti

[2022-08-18 16:33] mfix-stripe commented on #156
@nvanexan if you are using and Markdoc specific syntax (e.g. annotations), then those will not show up correctly in GitHub or iAWriter, until they support Markdoc syntax. If you are not, and you just use standard Markdown (e.g. `![foo](/url "title")`), then it will still work in both all the contexts.

[2022-08-22 22:50] mfix-stripe commented on #131
@ijjk super strange, but I was actually able to reproduce this issue with our starter repo: https://github.com/markdoc/markdoc-starter

If you boot up the repo, HMR/Fast Refresh works great. But if you wait a few minutes and try to make edits, it no longer works.

Is this enough of a repro for you? I can try to write a test for this, but not sure how I would at the moment

[2022-08-22 23:05] ijjk commented on #131
Are you able to reproduce this on the bare Next.js starter from `pnpm create next-app` or is this only occurring with `markdoc` configured?

[2022-08-22 23:51] mfix-stripe commented on #131
@ijjk it happens with the plain Next.js starter too. Here is a repo that reproduces the issue: https://github.com/mfix-stripe/nextjs-hmr-repro

If you wait a minute or 2 and then try and edit the `x` string in `data/server.js`, the page will not HMR. If you refresh the page, HMR starts working again.

[2022-08-23 03:42] ijjk commented on #131
Ah I see, thanks for narrowing in on that! I was able to track this down to an issue with our entries handling and opened a fix/regression test for this in https://github.com/vercel/next.js/pull/39845

[2022-08-23 15:27] ijjk commented on #131
Hi, this should now be fixed in `v12.2.6-canary.2` of Next.js, please update and give it a try!

[2022-08-23 16:19] mfix-stripe commented on #131
Thanks @ijjk! I just tested this with `v12.2.6-canary.2`, and that fixed the problem. Closing 👍

[2022-08-23 16:19] #131 closed

[2022-08-29 13:16] symmb commented on #131
Can confirm it works with the latest Next.js canary + Markdoc. Thanks to everyone involved!

[2022-08-30 16:08] mfix-stripe opened #188 "Next.js Hydration error with inline tags"
### Discussed in https://github.com/markdoc/markdoc/discussions/185

<div type='discussions-op-text'>

<sup>Originally posted by **khash** August 26, 2022</sup>
*Using NextJS*

I'm trying to build a "hint" tag, similar to this from https://stripe.com/docs/connect/collect-then-transfer-guide

<img width="318" alt="image" src="https://user-images.githubusercontent.com/1121822/186906960-01936975-f8d1

[2022-09-01 18:24] mfix-stripe commented on #188
@khash just dug into this more, and this issue isn't specific to Markdoc or Next.js, but is actually just this generic React issue: https://stackoverflow.com/questions/41928567/div-cannot-appear-as-a-descendant-of-p, which stems from the W3 HTML spec: https://www.w3.org/TR/html401/struct/text.html#h-9.3.1

This is why when you return a `div`, the warning shows up, but when you return a `span`, eve

[2022-09-01 20:23] mfix-stripe commented on #145
@jameshfisher have you had a chance to try out the formatter yet? Have you run into any bugs?

[2022-09-01 22:02] khash commented on #188
Thank you very much @mfix-stripe for looking into this and your answer.

For anyone who lands here, trying to use [React Tooltip](https://wwayne.github.io/react-tooltip/), you can avoid this problem by setting the `tag` property to `span`:

[code]

[2022-09-01 22:30] mfix-stripe commented on #188
@khash going to close out this issue—if we run into other similar problems, let's open up a new issue. Thanks for sharing!

[2022-09-01 22:30] #188 closed

[2022-09-09 23:18] alunny-stripe opened #195 "Invalid TS config for `@markdoc/markdoc@0.1.7`"
### What happened?

Importing `@markdoc/markdoc` in a fresh TypeScript projects shows multiple errors:

[code]

Some of these errors are due to missing dependencies `@types/react` and `@types/markdown-it`

### To reproduce

1. Download or clone https://gist.github.com/alunny-stripe/ed7e03f7a6fd712a8ea93eee36af8dbb
2. Run `npm install`
3. Run `npm run types`

### Version

0.1.7

### Additional cont

[2022-09-12 01:27] mfix-stripe commented on #195
PTAL @matv-stripe @rpaul-stripe

[2022-09-13 08:10] mfix-stripe opened #196 "Look into fixing the warning message when there is no default export in nodes.js or tags.js"
### Reproduction

1. Clone https://github.com/markdoc/docs
2. Install deps and run `yarn build`
3. See warnings:

Attempted import error: '/Users/mfix/stripe/markdoc/docs/markdoc/nodes/index.js' does not contain a default export (imported as 'nodes').

---

### Discussed in https://github.com/markdoc/markdoc/discussions/187

<div type='discussions-op-text'>

<sup>Originally posted by **khash** Aug

[2022-09-13 10:54] rlpiotrowski commented on #195
Any updates? I've run into similar issue with latest angular project.

[2022-09-14 09:54] mfix-stripe commented on #195
Would be awesome if you could take a quick peak at this @benbayard-stripe

[2022-09-14 18:20] alunny-stripe commented on #195
Thanks @mfix-stripe! With the changes in #197, this is the minimal `tsconfig.json` I need to get things passing in TS 4.8.3:

[code]

As Ben says, it would be great to add that to the README 😅

On TS 4.5 (which we use internally) and up to 4.7, I still get the following error:
[code]

I wonder if there was a change in how `esModuleInterop` in TS 4.8 🤷

[2022-09-16 11:31] ammmir opened #199 "Using directory with name "api" conflicts with internal API server"
### What happened?

If you have a directory under pages called `api` it won't render as it apparently conflicts with the internal DevServer.

[code]

### To reproduce

[code]

Then open http://localhost:3000/api and you'll be greeted with the error.

### Version

latest

### Additional context

_No response_

[2022-09-16 14:24] mfix-stripe commented on #199
@ammmir can you share the code that reproduces this? This might be an issue with how your `_app.js` is set up.

[2022-09-16 21:58] ijjk commented on #199
There isn't currently a way to disable the `api` directory handling, a workaround can be to name the file something else and rewrite to it instead though.

[2022-09-17 09:29] MitchellCash commented on #195
@mfix-stripe is it possible to push out a bug fix release now #197 is merged? Even if it means just cherry-picking those specific commits into a release

[2022-09-17 10:35] MitchellCash commented on #195
Sorry to pile on a closed issue, but I am also seeing a similar issue to what @alunny-stripe raised in that when I use a TypeScript version lower than 4.8 It will throw `Variable: typeof import("./src/types").Variable;`.

TS 4.8 doesn't seem to do this for me, but TS 4.8 is only a month old and I can't upgrade my project to that version yet.

[2022-09-18 03:16] ammmir commented on #199
@mfix-stripe i'm using the stock https://github.com/markdoc/markdoc-starter/blob/main/pages/_app.tsx but it seems to be a next.js limitation/design choice so i will use a workaround. thanks!

[2022-09-18 03:16] #199 closed

[2022-09-19 18:31] mfix-stripe commented on #145
Going to close out this issue, with the existence of https://github.com/markdoc/markdoc/blob/main/src/formatter.ts.

If folks run into issues with the formatter (as I am sure there are still bugs), please open a new issue 👍.

[2022-09-19 18:31] #145 closed

[2022-09-19 22:15] #196 closed

[2022-09-20 15:33] rpaul-stripe commented on #114
(Originally posted this on https://github.com/markdoc/markdoc/pull/160, reproducing here for completeness)

The underlying problem here is with the way that Markdoc identifies the end of a tag construct in content. When it sees a `{%` in the text, it scans forward each character until it finds a matching `%}` [that is not inside of a string](https://github.com/markdoc/markdoc/blob/main/src/utils.t

[2022-09-20 16:09] #195 closed

[2022-09-20 22:12] mfix-stripe opened #206 "Investigate 'document is undefined' errors and other breakages during sub-compilation in @markdoc/next.js"
### What happened?

When validating the markdoc schema, we now hit an error from Next.js where `document` is undefined when sub-compiling: https://github.com/markdoc/next.js/blob/main/src/loader.js#L79-L88

### To reproduce

1. Clone and install https://github.com/markdoc/markdoc-starter
2. `npm link` https://github.com/markdoc/markdoc-starter with https://github.com/markdoc/next.js
3. `console.lo

[2022-09-21 16:31] joshuaslate opened #207 "Conflicting React type definitions"
### What happened?

Since upgrading from 0.1.7 -> 0.1.8, we have started getting errors that the React `createElement` type is incompatible when used like so (irrelevant code omitted):

[code]

Would it make more sense for the Markdoc type definition dependencies to been devDependencies & peerDependencies instead of dependencies? This was changed in #197.

Our TSConfig seems to be in-line with the

[2022-09-21 16:59] #207 closed

[2022-09-22 07:07] davidturnbull opened #212 "What's the best way to handle one-off components?"
I'm interested in using Markdoc for documentation and was wondering if there were any recommend patterns for using one-off components? I want to add components to certain pages without bloating the entire site's bundle size.

[2022-09-27 06:52] mskri opened #220 "Validate function merges configs in a way that overrides custom configs"
### What happened?

I have a setup where I have overridden the existing `table` tag with my own schema with attributes. Everything worked fine to parse and to transform markdoc. Once I added `Markdoc.validate()` I am getting `Invalid attribute:` error.

Did some digging and I believe the issue is here https://github.com/markdoc/markdoc/blob/main/index.ts#L24...L40. Passed config is added first and

[2022-09-27 07:11] mskri commented on #220
I must be becoming blind. The `mergeConfigs` function works correctly. Was trying out to find a working solution when I tried adding the attribute I have in `table` tag to also into the `table` node, lo and behold it started working!

[2022-09-27 07:11] #220 closed

[2022-09-27 16:12] mfix-stripe opened #221 "Investigate breakages in @markdoc/next.js"
### What happened?

https://github.com/markdoc/next.js/pull/16#issuecomment-1258932021

### To reproduce

Not quite sure how to yet:

### Version

`next`: 12.3.1
`@markdoc/next.js`: 0.1.8

### Additional context

_No response_

[2022-09-27 16:13] mfix-stripe commented on #221
Cc @NSpehler using this issue for tracking.

[2022-09-27 17:36] mfix-stripe commented on #221
@NSpehler can you please push up a reproduction of this issue? That will speed up the process a lot 🙂

[2022-09-28 16:43] mfix-stripe commented on #155
@timmeade all the pages in our site are statically optimized, so that warning is benign (AFAIK). However, I did just push a commit to fix that warning. You should be all set.

[2022-09-29 15:17] guidorice opened #227 "docs bug with next.js/tags?"
### What happened?

I am following through the [next.js + markdoc guide here](https://markdoc.dev/docs/nextjs#built-in-next.js-tags).

[code]
Does anyone know if this is an error in the docs, or what the appropriate import statement would be?

### To reproduce

Apply example code from the section "built-in next.js tags".

https://markdoc.dev/docs/nextjs#built-in-next.js-tags

### Version

@markdoc

[2022-09-29 17:24] juanvargas-pax opened #231 "Nextjs MUI doesn't work properly"
### What happened?

Nextjs and markdoc works fine but there is an issue when tried to use @MUI components in the tags
[code]

[code]
[code]

- package.json
[code]

**I got this error**

[code]

### To reproduce

1. create a nextjs app
2. install markdoc and MUI
3. add tags with MUI components

### Version

@markdoc/next.js@^0.1.8

### Additional context

_No response_

[2022-09-29 17:56] WatsonWBlair opened #232 "Markdoc Tags appear to be incompatable with MUI components."
### What happened?

Starting from the Next.js starter repo, if you attempt to define a tag that utilizes Material UI components all custom tags fail to load. there are two issues here:

1. Markdoc Tags seem to be incompatible with MUI Components
2. Custom Tags do not fail gracefully, so an error in one custom tag causes all custom tags to fail.

Sorry if this issue is logged in the wrong place, bu

[2022-09-29 18:05] mfix-stripe commented on #232
Looks like this is a duplicate of #231. Will track this issue over there. Thanks!

[2022-09-29 18:05] #232 closed

[2022-09-29 18:53] guidorice commented on #227
Thanks @mfix-stripe I figured out my issue. I forgot to export the `Next.markdoc.ts` from `markdoc/tags/index.ts`. Here's the fix:

[code]

Do you want me to make an enhancement PR to https://github.com/markdoc/markdoc-starter because this might be a common use case to install those additional tags?

Thanks!

[2022-09-29 20:32] mfix-stripe commented on #227
Go for it! Thanks @guidorice 🙏

[2022-09-29 20:32] #227 closed

[2022-09-29 22:29] mfix-stripe commented on #231
@juanvargas-pax can you try upgrading to `@markdoc/next.js@0.1.9` and trying again?

[2022-09-29 23:01] mfix-stripe commented on #231
@WatsonWBlair likewise, could you try upgrading to `@markdoc/next.js@0.1.9` and trying again?

[2022-09-30 00:59] mfix-stripe commented on #221
This happens to be the same error as https://github.com/markdoc/markdoc/issues/206, so closing this issue as a duplicate.

@NSpehler, please subscribe to #206 to track this issue.

[2022-09-30 00:59] #221 closed

[2022-09-30 14:33] WatsonWBlair commented on #231
Updated and its working for me. thanks for the quick attention!

[2022-09-30 15:09] juanvargas-pax commented on #231
Thank you, now it's working properly 💯

[2022-09-30 15:09] #231 closed

[2022-10-08 17:44] drusellers opened #243 "numeric variable not rendering in markdoc"
### What happened?

I was trying to use Markdoc to render a number that was stored in a variable. After researching various docs and looking at the code I finally changed the type of the variable from a number into a string and then it started to work. I would have expected Markdoc to render the number as a string or provide some kind of console log out put or error.

### To reproduce

[code]

Exp

[2022-10-10 12:37] nkohari-stripe commented on #243
This definitely looks like a bug, and I think we ran into something very similar internally the other day. Let me look into it more closely and get back to you.

[2022-10-11 11:58] mskri opened #245 "Possible to get contents of tag as string?"
I am attempting to make a custom tag that has a toggle to display node/tags as they render  and to view the raw source without transformations. Tried playing around with `process` and `content` annotations but they seem to only work with fences. Is there a way to get raw content from tag without using fence?

[2022-10-11 16:38] drusellers opened #247 "Documentation Error"
### What happened?

On the page about creating a custom tag - https://markdoc.dev/docs/tags

It lists the example configuration to be

[code]

However, the attribute `description` doesn't exist in the type system.

https://github.com/markdoc/markdoc/blob/main/src/types.ts#L101

I'd suggest either updating the documentation, or adding the field to the type. :)

### To reproduce

This a documentatio

[2022-10-11 18:57] rpaul-stripe commented on #245
If you still have the original source string, you can use the `node.lines` property to get the starting and ending line numbers of the corresponding content from the source. Note that this really only works for block-level elements, we don't currently expose the index within the line of inline elements.

You could also try using the experimental Markdoc formatter to programmatically generate Markd

[2022-10-13 11:46] mskri commented on #245
Awesome, I can make it work with those for now! At this point I'm only interested in block-level elements so that limitation doesn't matter.

That `format` function seems neat. Looking forward to it being stable. 👍

[2022-10-13 11:46] #245 closed

[2022-10-14 00:00] kejiweixun opened #250 "Can not build more than 101 pages with Next.js"
### What happened?

I clone markdoc's Next.js [starter demo](https://github.com/markdoc/markdoc-starter), randomly add 97 markdom files to `pages/docs/` folder, then run `npm run build`, and Next.js will stuck on `info  - Creating an optimized production build ...` forever.

### To reproduce

1. `git clone https://github.com/markdoc/markdoc-starter`
2. Add random markdown files to `pages/docs/` fo

[2022-10-14 10:10] kejiweixun commented on #250
I think I know what's wrong now, but don't know how to fix it.

This issue is related to `@markdoc/next.js`. Somehow when having more than certain markdown files, [`await this.importModule()`](https://github.com/markdoc/next.js/blob/569b557c540a8a3bb74b8e04cf91a97f51f90f0a/src/loader.js#L77)` just can't resolve, which cause the forever hang.

[2022-10-14 18:07] mfix-stripe commented on #206
Closed with https://github.com/markdoc/next.js/pull/18

[2022-10-14 18:07] #206 closed

[2022-10-16 01:22] rajkaramchedu opened #252 "Plugin for Docusaurus?"
Hola - Terrific to see Markdoc out in the open. I am a tech writer, don't know much about React. I use [Docusaurus](https://docusaurus.io/docs/docs-introduction) because of ease of use, GitHub integration and Markdown. Anyone know if Markdoc can be used with Docusaurus, like with a plugin? Danke!

[2022-10-16 13:16] HonzaMac commented on #250
What does command 'limits' in terminal print?

[2022-10-17 16:47] mfix-stripe commented on #250
Cc @ijjk in case you have ideas. I doubt this is a `@markdoc/next.js` bug, but it could be.

Regardless, I'm sure we could speed up our builds with some sort of caching.

[2022-10-18 17:34] juanvargas-pax opened #254 "Nextjs @emotion wrong styles calculation for nested components"
### What happened?

We are implementing `tabs` components according to this example https://markdoc.dev/docs/examples#tabs.
The Tabs are working fine in a standalone implementation but when we compose with others components breaks the styles (it's seems like the above component it's affecting the `tabs`, Please take a look at the screenshots)

**Note: I tried in an incognito window and the issue p

[2022-10-18 18:06] arranf opened #256 "Lists with tags with async tranforms fail"
### What happened?

A basic list with a an async transformed tag (for data fetching) throws the following error

[code]

### To reproduce

1. Create a file with a list and async tag e.g.

[code]

[code]

Removing the `async` keyword this renders correctly. Note that _with_ the `async` keyword the children is logged _after_ the error is thrown.

### Version

    "@markdoc/markdoc": "^0.1.13",     "

[2022-10-18 21:38] mfix-stripe commented on #254
@juanvargas-pax I'm going to close this as this just seems like a CSS issue, but please let me know and I can reopen 🙂

[2022-10-18 21:38] #254 closed

[2022-10-18 21:43] mfix-stripe commented on #256
@arranf are you using `@markdoc/next.js`? Async transforms are still experimental, and have not been enabled in the `@markdoc/next.js` Next.js plugin. If you are using it separately from `@markdoc/next.js`, you might need to `await` somewhere within your stack.

[2022-10-18 21:43] mfix-stripe commented on #256
Gonna close this as async transforms are still experimental, but please let me know if this doesn't full capture the issue you are facing, and I will re-open. Appreciate your involvement in the project @arranf! 🙂

[2022-10-18 21:43] #256 closed

[2022-10-19 16:29] lbv-stripe opened #259 "Docs bug: https://markdoc.dev/docs/tags uses "components" without giving it a value"
### What happened?

The third code block on this page contains the line
[code]
But `components` hasn't been initialized yet. The resulting error for me (using TypeScript) is

[code]

The following code block fixes the problem. But this is an annoying experience if I'm working through the doc step by step, since I spent a little while concerned I'd done something wrong.

### To reproduce

Enter the

[2022-10-19 17:07] lbv-stripe opened #260 "Readme undersells difficulty of using with TypeScript"
### What happened?

The readme suggests that using with TypeScript is as simple as installing a few files and setting up a `tsconfig.json` file. But there are some pretty steep roadblocks later on. The particular one I've hit is that for the `config` object you pass to `Markdoc.transform`, the compiler expects a very complicated type — per `source/types.ts`, it's

[code]
which is not something I k

[2022-10-19 17:34] mskri commented on #260
I agree. It's been a trial and error at times to figure out how to type things so that TypeScript is happy.

[2022-10-20 16:52] #259 closed

[2022-10-21 20:17] #250 closed

[2022-10-21 20:21] mfix-stripe commented on #250
Hey folks, sorry for the delay here. I dug into this deeper, and there is something weird going on within Webpack and/or Next.js that prevents us from importing a module more than a certain amount of times at once. The trouble is we don't know that number ahead of time, nor are we able to stop if from hanging forever without introducing even worse behavior.

I fixed this issue here (https://github

[2022-10-21 20:23] mfix-stripe opened #262 "Build time schema validation"
Run `Markdoc.validate` at build time: https://markdoc.dev/docs/validation

- [ ] Ensure it works with https://github.com/markdoc/markdoc/issues/250
- [ ] Support validation without needing `__webpack_require__` hacks

[2022-10-23 18:40] stahlmanDesign opened #267 "Render anchor as next/link becomes a Fragment instead of Link when rendered in React component"
### What happened?

TL;DR
config.nodes.link.render = Link results in Fragment, not Link, when parsing inside NextJS component

---
A raw markdown string parsed with Markdoc in the component becomes an anchor tag, as expected.

But when using NextJS, we don't want anchor tags because they reload the page. NextJS uses its custom Link instead.

But when we use Markdoc's config.nodes.link option to re

[2022-10-24 18:47] #267 closed

[2022-10-24 22:26] mfix-stripe opened #273 "Generate typedoc docs for @markdoc/markdoc and serve them at markdoc.dev/types"
- [ ] Run `typedoc index.ts --includeVersion --readme none --excludePrivate --excludeExternals --excludeInternal --sort source-order --out types` against latest `./node_modules/@markdoc/markdoc/index.ts`
- [ ] Add Next.js `write` from `/types -> /types/index.html`

[2022-10-25 18:30] abirmingham opened #274 "Question: Markdoc->Markdown renderer?"
Greetings,

My company is considering adoption of markdoc. We would primarily use markdoc with the react renderer. However, we also have a case where where a python component deals with markdown. As markdoc does not currently have a python renderer, we are considering rendering markdoc->markdown and sending markdown to this component. I could not find a markdoc->markdown renderer, however—only htm

[2022-10-25 18:37] rpaul-stripe commented on #274
There is an experimental formatter (`Markdoc. __EXPERIMENTAL__format`) that can convert a Markdoc AST back into source. You could do transformations on the AST to remove Markdoc-specific elements and then use it to convert the content back to plain Markdown.

Depending on your use case, you could also consider serializing either the Markdoc AST or render tree to JSON to use them directly in Python

[2022-10-26 08:33] ansidev opened #276 "Feature Request: Theming"
Please support theming system!

[2022-10-26 13:20] ansidev commented on #276
@segphault I've updated the issue description. FYI!

[2022-10-28 15:41] champsupertramp commented on #231
Hi @mfix-stripe  I tried creating the same files and content with `markdoc/next.js` version 0.1.10. I got the following error:

[code]

Here's the index.md:

[code]

Removing this `export { default as mybutton } from './button2.markdoc';` from the `/tags/index.js` removes the issue.

Inside `button2.markdoc`:

[code]

Inside `../../components/Button`

[code]

[2022-10-28 15:51] champsupertramp commented on #231
Hi @mfix-stripe  I apologize. I've found the issue:

I've changed the following:
[code]
to

[code]

Thanks anyways

[2022-10-28 21:15] mfix-stripe commented on #231
Glad you figured it out @champsupertramp!

[2022-10-28 21:18] mfix-stripe commented on #276
@ansidev Markdoc is completely agnostic to how you style your site. You can use Markdoc to generate React or HTML, and use any of the systems above to handle theming.

For example, you could hook up a Next.js site with our Markdoc plugin ([`@markdoc/next.js`](https://www.npmjs.com/package/@markdoc/next.js)), and then add in Tailwind support to your entire Next.js site to style the content: https:/

[2022-11-06 21:28] bwnelb commented on #260
I also found the type check errors from examples to be jarring and instead of learning a Markdoc concept I started learning some TS instead.  Might be good to note the `"strict": false,` tsconfig.json option if anyone wants a quick way to move past a type definition issue while exploring a new tool.

[2022-11-08 07:28] robogeek commented on #10
Cheers!  Here's my vote of approval for a mode allowing HTML passthrough.

In my application, I have a separate module that handles custom HTML-like tags, converting them to regular HTML, and doing things like link validation or anything else you like.  What my application needs is for any custom HTML tags the user writes to be passed through unencoded, so that the processor module see's them.

I

[2022-11-27 11:15] altosaar opened #297 "Incremental build support"
### What happened?

I’m trying to use this https://stackoverflow.com/questions/64189754/deploy-large-artifect-for-static-site -  but not sure how whether markdoc supports this — wasn’t sure where to ask, sorry if this is the wrong place!

I think it should because https://nextjs.org/docs/basic-features/data-fetching#incremental-static-regeneration runs on nextjs and incremental static regeneration